@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Monaco' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cat-link:hover {
  color: #fa7878 !important;
  text-decoration: underline;
}

.home-categs .dropdown-menu.show {
  transform: translate(-22.09rem, 3.35rem) !important;
  width: 406px;
  border: none;
  background-color: #f7f7f7;
}
.active.dropdown-item {
  background-color: #f7f7f7;
  font-size: 20px;
  color: #1a1a1a;
  padding-left: 6.5%;
}

.password-group {
  display: none;
}

.mobile-only {
  display: none;
}

p.number-in-cart {
  position: absolute;
  right: -7px;
  top: -11px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 19px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 18px;
  margin-left: 4%;
  padding-bottom: 10px !important;
}

/*  CART ACC JSM*/
.cart-wrapper {
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 90%;
  width: 75%;
  background-color: white;
  padding: 40px 10px;
  position: relative;
}

.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: #071e46;
  padding: 10px;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn-cart {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn-cart:hover {
  transform: scale(1.1, 1.1);
}

.product-container {
  margin-top: 10px;
}
.product {
  padding: 20px 5px;
}
.product .cart-product-image {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 15px;
}

.item-desc {
  display: flex;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 60px;
}

.top {
  flex-wrap: wrap;
  gap: 10px;
}

.quantity-desc {
  border: 1px solid gray;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus {
  color: #f02d34;
}
.quantity-desc .num {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.manage-single-review {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #071e46;
  height: fit-content;
  padding: 20px;
  border: 1px solid #071e46;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.manage-single-review-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.5px;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE*/
/* Tablets and smaller */
@media (min-width: 100px) and (max-width: 1180px) {
  .no-mobile {
    display: none !important;
  }
}
