@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Monaco' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cat-link:hover {
  color: #fa7878 !important;
  text-decoration: underline;
}

.dropdown-menu.show {
  transform: translate(-21.85rem, 3.35rem) !important;
  width: 402px;
  border: none;
  background-color: #f7f7f7;
}
.active.dropdown-item {
  background-color: #f7f7f7;
  font-size: 20px;
  color: #1a1a1a;
  padding-left: 6.5%;
}

.password-group {
  display: none;
}

.mobile-only {
  display: none;
}

p.number-in-cart {
  position: absolute;
  right: -7px;
  top: -11px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 19px !important;
  background-color: red;
  color: #fefefe;
}

p.number-in-cart span {
  font-size: 18px;
  margin-left: 4%;
  padding-bottom: 10px !important;
}

/*  CART ACC JSM*/
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.manage-single-review {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #071e46;
  height: fit-content;
  padding: 20px;
  border: 1px solid #071e46;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.manage-single-review-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.5px;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE*/
/* Tablets and smaller */
@media (min-width: 100px) and (max-width: 1180px) {
  .no-mobile {
    display: none !important;
  }
}
